* {
    font-family: Arial, serif;
    /*border-inline-start-color: #008CFF;*/
    /*border-inline-end-color: black;*/

    /*background-color: aquamarine;*/
}

.fixed-container {
    width: 1100px;
    margin: 0 auto;
    text-align: center;

}

.menu-container {
    display: flex;

    height: 60px;
    align-items: center;
    background-color: #E8FAFA;
    border: 2px solid #008CFF;
}

header {

    /*border-radius: 20px;*/
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 1100px;

}

header nav a {

    color: white;
    background-color: #008CFF;
    text-decoration: none;
    margin: 0 40px;
    /*margin-right: 40px;*/
    border: 2px solid black;
    border-radius: 6px;
}

.uzver {
    border-inline-start-color: #008CFF;
    border-inline-end-color: black;
    color: black;
    text-align: center;

    background-color: white;
    border: 4px solid black;
    border-radius: 8px;
    line-height: 15px   ;
}

